.rmdb-grid h1 {
  font-family: "Abel", sans-serif;
  font-size: 42px;
}

.rmdb-grid-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.rmdb-grid-element {
  background: #353535;
  max-height: 430px;
}

@keyframes animateGrid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .rmdb-grid-content {
    grid-template-columns: auto auto;
  }

  .rmdb-grid-element:nth-child(2n + 2) {
    margin-right: 0;
  }

  .rmdb-grid h1 {
    font-size: 22px;
  }
}

.custom-class {
  background: #353535;
  display: flex;
  justify-content: center;
  align-content: center;
}

.custom-class p {
  color: aliceblue;
  text-align: center;
}
.custom-container {
  max-width: 100vw !important;
  border: 30px solid #ffffff;
  z-index: 0;
}
